h1{
    background-color: aqua;
}
input{
    background-color: rgb(168, 234, 25);
}
label{
    background-color: rgb(16, 149, 206);
}
form{
    background-color: rgb(232, 10, 180);
}
div{
    background-color: rgb(252, 158, 8);
}

body{
    background-color: rgb(11, 3, 3);
}


